@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Dosis');

h1, h2, h3{
    font-family: 'Bubbler One', sans-serif;
    color: #3c250a;
}
p, li{
    font-family: 'Dosis', sans-serif;
    color: #3c250a;
}
body {
    background: url('../images/abstract-mosaic-background.png')
    no-repeat center center fixed;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    background-color: #595959;
    text-align: center;
    padding: 15px 30px;
}
.main-content {
    background-color: #808f85;
    padding 10px 0;
    border-top: 2px solid #CFD11A;
}

header img{
    width: 50%;
    border-radius: 55px
}

.main-content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}

.main-content ul li {
    padding:10px;
    display: inline;
}

a {
    color: #cfd11a;
    text-decoration: none;
    font-family: 'Bubbler One', sans-serif;
}

.main-content p {
    margin: 10px;
}

#projects {
    background-color: #595959;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.project {
    width: 30%;
    display: inline-block;
    background-color: #f2e9dc;
    margin: 1.66%;
    border-radius: 15px;
    float: left;
}

.project img {
    max-width: 100%;
}